.App {
 height : 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello {
  height: 250px;
  width: 500px;
  border: 10px solid black;
  align-items: center;
  justify-content: center;
  background-color: red;
}
p {
  text-align: center;
}
